body {
  font-family: 'Bowlby One SC', cursive;
  color: #E7E7E7;
  background-color: #485696;
}

#box-1 {
  background-color: #F9C784;
  color: #FC7A1E;

}

#box-2 {
  background-color: #FC7A1E;
  color: #F9C784;

}

#box-3 {
  background-color: #F24C00;
  color: #F9C784;

}